@model IEnumerable<hrithvika.Models.Custom_public>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/js/customgallery.js"></script>

<style>
    .bgdiv h5 {
        font-family: 'customfontbold';
        opacity: 0.7
    }

    body {
        background: #f7f7f7
    }

    .right {
    }
    a {
        color: #060606;
        text-decoration: none;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <img width="100%" src="~/Images/publicvoice.jpg" />
        <div class="telegram_dv_normal">
            " <b>1</b>  DAY  &nbsp;<b>1</b> MINUTE
            <br />
            HOW EVER WE ARE
            <br />
            IS IT TOO MUCH TO ASK FOR ? "
            <br />

            <br />

        </div>
    </div>
    <div class="row d-none d-md-block  row_highlight">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <i style="color:#ff0000" class="fa fa-calendar fa-2x"></i> <a href="/Home/Events"> Events</a>
                </div>
                <div class="col-md-4 text-center">
                    <i style="color:#ff0000" class="fa fa-users fa-2x"> @Html.ActionLink("NGO's", "NGO", "People")</i>
                </div>
                <div class="col-md-4 text-center">
                    <i style="color:#ff0000" class="fa fa-heart fa-2x"> @Html.ActionLink("Enroll", "Create", "People")</i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 padding">
            <h1 class="text-center">
                Public Voice &nbsp;&nbsp;&nbsp;  <i class="fa fa-picture-o"> @Html.ActionLink("Images", "Index", "Publicvoice")</i>
                <i class="fa fa-video-camera"> @Html.ActionLink("Videos", "video", "Publicvoice")</i>
            </h1>
            <br />
            <div style="text-align:center">
                @Html.ActionLink("Give Your Voice", "Create", "Publicvoice", null, new { @class = "btn btn-primary loginbtn" })
            </div>
            <br />

        </div>
    </div>
</div>
<div class="container-fluid">

    <div class="row">


        <div class="col-md-12 text-center">
            @*<h2>Videos</h2>
            <hr />*@
            <div class="row">
                @foreach (var item in Model)
                {
                    if (item.video != null)
                    {


                        <div class="col-lg-3 col-md-3 col-xs-6 thumb">
                            <div class="background_white">

                                <div style="height:200px;overflow-y:hidden">
                                    <video height="200" controls>
                                        <source src="@item.video">
                                    </video>
                                </div>
                                <label style="text-align:center;width:100%;padding:10px;background:#ff6a00!important;color:#fff!important"><b> @item.NAME</b></label>
                            </div>
                            <br /><br />
                        </div>
                        <br /> <br />
                    }
                }
            </div>
        </div>

        <br />
        <br />


        @*<div class="col-md-6 text-center">
            <h2>Images</h2>
            <hr />
            <div class="row">
                @foreach (var item in Model)
                {
                    if (item.photo != null)
                    {
                        <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                            <div class="background_white">
                                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="" data-image="@item.photo" data-target="#image-gallery">
                                    <div style="height:150px;overflow-y:hidden">
                                        <img class="img-thumbnail"
                                             src="@item.photo"
                                             alt="@item.id" width="100%" title="@item.NAME" />
                                    </div>
                                </a>
                                <label style="text-align:center;width:100%;padding:10px;background:#ff6a00!important;color:#fff!important"><b> @item.NAME</b></label>
                            </div>

                            <br /><br />
                        </div>
                        <br />
                        <br />
                    }
                }
            </div>
        </div>*@
    </div>
</div>
<div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content mdl div_background">
            <div class="modal-header">
                <h4 class="modal-title" id="image-gallery-title"></h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="image-gallery-image" class="img-responsive col-md-12" src="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary float-left" id="show-previous-image">
                    <i class="fa fa-arrow-left"></i>
                </button>
                <button type="button" id="show-next-image" class="btn btn-secondary float-right">
                    <i class="fa fa-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<br />
<br />
