@model hrithvika.Models.Custom_preyuva

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

<div class="display_desktop">

</div>
<div class="container" style="background:#fff;text-align:center" id="form">
    <div class="insidecontainer">
        <div class="row" style="border:1px solid #ebebeb;text-align:center">
            <div class="col-md-12">
                <br />
                <br />
                <h1 class="text-center">   Kalam Yuva Nirman</h1>
                <br />
                <h2 class="text-center">Pre Registration </h2>
                <br />
                @if (@ViewBag.success != null)
                {
                    <label class="validcolor">@ViewBag.success</label>
                    <h4></h4>
                }
                <br />
                <p>
                    "People Dont Like me ,because I am different. I dont like them because  they are all same"
                </p>
                <br />
                <br />
                @using (Html.BeginForm("Create", "KalamYuvanirman", "post", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">

                        <div class="col-md-6">
                            @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control", @placeholder = "Full Name*" } })
                            @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Father_name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Father Name*" } })
                            @Html.ValidationMessageFor(model => model.Father_name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6">
                            @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Phone*" } })
                            @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Date_of_birth, new { htmlAttributes = new { @class = "form-control",@type= "date", @placeholder = "Date_of_birth" } })<i style="color:#d5d5d5">*Date of Birth</i>
                            @Html.ValidationMessageFor(model => model.Date_of_birth, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6">
                            @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @placeholder = "Address*" })
                            @Html.ValidationMessageFor(model => model.Address)
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            @Html.DropDownList("Type", (IEnumerable<SelectListItem>)ViewData["Dbtype"], "-- Select Category  --", new { required = true, @class = "form-control", @id = "Dbtype" })
                            @Html.ValidationMessageFor(model => model.category)

                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.institution_name, new { htmlAttributes = new { @class = "form-control", @placeholder = "School/College/University Name*" } })
                            @Html.ValidationMessageFor(model => model.institution_name, "", new { @class = "text-danger" })
                        </div>


                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.class_or_course, new { htmlAttributes = new { @class = "form-control", @placeholder = "Class/Course/Qualification" } })
                            @Html.ValidationMessageFor(model => model.class_or_course, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6">
                            @Html.TextAreaFor(model => model.institution_address, new { @class = "form-control", @placeholder = "School/College/University Address*" })
                            @Html.ValidationMessageFor(model => model.institution_address)

                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.project_title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Project Title*" } })
                            @Html.ValidationMessageFor(model => model.project_title, "", new { @class = "text-danger" })

                        </div>

                        <div class="col-md-6">
                            @Html.EditorFor(model => model.group_mumbers, new { htmlAttributes = new { @class = "form-control", min = '1', @placeholder = "Group member's  Ex:3" } })
                            @Html.ValidationMessageFor(model => model.group_mumbers, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <br />

                    <div class="row">

                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.project_description, new { @class = "form-control", @placeholder = " Project Description*" }) <i style="color:#808080">*Less than 2000 Characters</i>
                            @Html.ValidationMessageFor(model => model.project_description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    
                    <br />
                    <div class="row">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4">
                            <input type="submit" value="Submit" style="width: 100%" class="btn btn-success loginbtn" />
                            <br />
                            <i>*Required Fields</i>
                        </div>
                    </div>

                }


                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />