@model hrithvika.Models.Custom_Nomination

@{
    ViewBag.Title = "Create_Nominations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background: url('../../Images/yuvanirman.jpg')no-repeat !important;
        background-size: cover !important;
        background-attachment: fixed !important;
        letter-spacing: 0px !important
    }

    input {
        background: #ebebeb !important
    }

        input:focus {
            background: #fff !important
        }

    textarea {
        background: #ebebeb !important
    }

        textarea:focus {
            background: #fff !important
        }
</style>
<br />
<br />

<div class="display_desktop">

</div>
<div class="container" style="background:#fff;text-align:center" id="form">
    <div class="insidecontainer">
        <div class="row" style="border:1px solid #ebebeb;text-align:center">
            <div class="col-md-12">
                <br />
                <br />
                <h1 class="text-center"> Short film  Nominations</h1>
                <br />
                @if (@ViewBag.success != null)
                {
                    <h4>@ViewBag.success</h4>
                }
                <br />
                <p>
                    "People Dont Like me ,because I am different. I dont like them because  they are all same"
                </p>
                <br />
                <br />
                @using (Html.BeginForm("Create_Nominations", "People", "post", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">

                        <div class="col-md-6">
                            @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name*" } })
                            @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6">
                            @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Short Film Title*" } })
                            @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6">
                            @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Phone*" } })
                            @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label>Display Image (For your short film)</label><br />
                            <label> Display Image*</label>
                            <input type="file" id="file" width="200" name="file">
                            <br />
                            <br />
                            @Html.DropDownList("Type", (IEnumerable<SelectListItem>)ViewData["Dbtype"], "-- Select Category  --", new { required = true, @class = "form-control", @id = "Dbtype" })
                            @Html.ValidationMessageFor(model => model.category)
                        </div>
                        <div class="col-md-6">
                            <br />
                            <label>Project Video ( Youtube or Vimeo embeded Link, please remove Double inverted commas in link)</label><br />
                            @Html.EditorFor(model => model.video, new { htmlAttributes = new { @class = "form-control", @placeholder = " Ex- https://www.youtube.com/embed/dWARfPyCg2c" } })
                            @Html.ValidationMessageFor(model => model.video, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <br />

                    <div class="row">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "About Project Description*" }) <i style="color:#808080">*Less than 2000 Characters</i>
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>

                    </div>



                    <br />
                    //notformattedcode -- Siva

                    
                    <br />
                    
                   
                    <div class="row">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4">
                            <input type="submit" value="Submit" style="width: 100%" class="btn btn-success loginbtn" />
                            <br />
                            <i>*Required Fields</i>
                        </div>
                    </div>

                }



                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />
