@model IEnumerable<hrithvika.Models.Custom_preyuva>

@{
    ViewBag.Title = "preyuva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .dv {
        min-height: 400px;
    }

    .table a {
        color: #808080 !important
    }
</style>
<div class="container-fluid">
    <div class="row">
        <img width="100%" style="filter:grayscale(100%)" src="~/Images/events.jpg" />
        <div class="telegram_dv_normal">
            " <b>1</b>  DAY  &nbsp;<b>1</b> MINUTE
            <br />
            FOR OUR BRAVE HEARTS
            <br />
            IS IT TOO MUCH TO ASK FOR ? "
            <br />

            <br />

        </div>
    </div>
    <div class="row d-none d-md-block  row_highlight">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <i style="color:#ff0000" class="fa fa-calendar fa-2x"></i> <a href="/Home/Events"> Events</a>
                </div>
                <div class="col-md-4 text-center">
                    <i style="color:#ff0000" class="fa fa-users fa-2x"> @Html.ActionLink("NGO's", "NGO", "People")</i>
                </div>
                <div class="col-md-4 text-center">
                    <i style="color:#ff0000" class="fa fa-heart fa-2x"> @Html.ActionLink("ENROLL", "Create", "People", null)</i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid dv">

    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Pre Registration List</h2>

            <table class="table">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Phone
                    </th>
                    <th>Project Title</th>
                    <th>Category</th>
                    <th>Date</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.project_title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.createdon)
                        </td>

                    </tr>
                }

            </table>
        </div>
    </div>
</div>0