@model hrithvika.Models.Custom_public

@{
    ViewBag.Title = "publicedit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background: url('../../Images/yuvanirman.jpg')no-repeat !important;
        background-size: cover !important;
        background-attachment: fixed !important;
        letter-spacing: 0px !important
    }

    input {
        background: #ebebeb !important
    }

        input:focus {
            background: #fff !important
        }

    textarea {
        background: #ebebeb !important
    }

        textarea:focus {
            background: #fff !important
        }
</style>
<br />
<br />

<div class="display_desktop">

</div>
<div class="container" style="background:#fff;text-align:center" id="form">
    <div class="insidecontainer">
        <div class="row" style="border:1px solid #ebebeb;text-align:center">
            <div class="col-md-12">
                <br />
                <br />
                <h1 class="text-center"> Public Voice</h1>
                <br />
                @if (@ViewBag.success != null)
                {
                    <h4>@ViewBag.success</h4>
                }
                <br />
                <p>
                    "People Dont Like me ,because I am different. I dont like them because  they are all same"
                </p>
                <br />
                <br />
                @using (Html.BeginForm("publicedit", "Admin", "post", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.id)
                    <div class="row">

                        <div class="col-md-6">
                            @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name*" } })
                            @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6">
                            @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Phone*" } })
                            @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />

                    <div class="row">

                        <div class="col-md-6">
                            <label>Image</label>
                            <input type="file" id="file" width="200" name="file">
                        </div>

                        <div class="col-md-6">
                            <label>Video</label>
                            <input type="file" id="file1" width="200" name="file1">
                        </div>
                    </div>
                    <br />
                    

                    <br />
                    //notformattedcode -- Siva


                    <br />


                    <div class="row">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4">
                            <input type="submit" value="Update" style="width: 100%" class="btn btn-success loginbtn" />
                            <br />
                            <i>*Required Fields</i>
                        </div>
                    </div>

                }



                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />
