@model IEnumerable<hrithvika.Models.Custom_venue>

@{
    ViewBag.Title = "venue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .dv {
        min-height: 400px;
    }

    a {
        color: black !important;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <img width="100%" style="filter:grayscale(100%)" src="~/Images/events.jpg" />
        <div class="telegram_dv_normal">
            " <b>1</b>  DAY  &nbsp;<b>1</b> MINUTE
            <br />
            HOW EVER WE ARE
            <br />
            IS IT TOO MUCH TO ASK FOR ? "
            <br />

            <br />

        </div>
    </div>
    <div class="row d-none d-md-block  row_highlight">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <i style="color:#ff0000" class="fa fa-calendar fa-2x"></i> <a href="/Home/Events"> Events</a>
                </div>
                <div class="col-md-4 text-center">
                    <i style="color:#ff0000" class="fa fa-users fa-2x"> @Html.ActionLink("NGO's", "NGO", "People")</i>
                </div>
                <div class="col-md-4 text-center">
                    <i style="color:#ff0000" class="fa fa-heart fa-2x"> @Html.ActionLink("ENROLL", "Create", "People", null)</i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid dv">
    <br />
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1>Venue List</h1>
        </div>

    </div>

    <br />

    <div class="row">
        <div class="col-md-12 text-center">

            <table class="table">
                <tr>
                    <th>
                        Name
                    </th>

                    <th>
                        Phone
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Venue Name
                    </th>
                    <th>
                        Address
                    </th>

                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.NAME
                        </td>
                        <td>
                            @item.phone
                        </td>
                        <td>
                            @item.email

                        </td>
                        <td>
                            @item.venue_area
                        </td>


                        <td>
                            @item.address

                        </td>

                        <td>

                            <button type="submit" id="@item.id" class="btn btn-danger Delete">Delete</button>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>

</div>


<link href="~/Content/sweetalert/sweet-alert.css" rel="stylesheet" />
<link href="~/Content/sweetalert/docs.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/sweet-alert.js"></script>
<script type="text/javascript">
   
    $(document).ready(function () {
        $('.Delete').on('click', function (e, data) {
            debugger;
            if (!data) {
                handleDelete(e, 1);
            } else {
                window.location = $(this).attr('href');
            }
        });
    });
    function handleDelete(e, stop) {
        if (stop) {
            e.preventDefault();
            swal({
                title: "Are you sure?",
                text: "You will  be able to Delete!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, Delete!",
                closeOnConfirm: true
            },
                function (isConfirm) {
                    if (isConfirm) {
                        var element = e.target.id;
                        $.ajax({
                            url: "/Admin/deletevenue",
                            type: "POST",
                            data: JSON.stringify({ 'ID': element }),
                            dataType: "json",
                            traditional: true,
                            contentType: "application/json; charset=utf-8",
                            success: function (data) {
                                var url = window.location.href;
                                if (url.indexOf('?') > -1) {
                                    url += '&param=1'
                                } else {
                                    url += '?param=1'
                                }
                                window.location.href = url;
                            }

                        });
                    }
                });
        }
    };
</script>
