@model hrithvika.Models.payment

@{
    ViewBag.Title = "payments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .hid {
        display: none !important;
    }
    .btn {
       
        color:#000
    }
    body {
        background: url('../Images/organizers_banner.jpg')no-repeat !important;
        background-size: cover !important;
        background-attachment: fixed !important;
        letter-spacing: 0px !important
    }

    input {
        background: #ebebeb !important
    }

        input:focus {
            background: #fff !important
        }

    .field-validation-error {
        color: #f00
    }
</style>
<br />
<br />
<br />
<br />
<br />
<br />

<div class="container" style="text-align:center" id="form">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 card">
            <br />
            <h2>Payment Confirmation</h2>
            <hr />
            <label class="hid" id="lblid"> @Model.id</label>
            <div class="row">
                <div class="col-md-4 col-4">
                    Name
                </div>
                <div class="col-md-4 col-8">
                    <label id="lblname">@Model.NAME</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-4">
                    Email
                </div>
                <div class="col-md-4 col-8">
                    <label id="lblemail">@Model.email</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-4">
                    Phone
                </div>
                <div class="col-md-4 col-8">
                    <label id="lblphone">@Model.phone</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-4">
                    Amount
                </div>
                <div class="col-md-4 col-8">
                   Rs <label id="lblamount">@Model.amount</label> /-
                </div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-6">
                    <br />
                    <input type="button" id="rzp-button1" class="btn btn-success" name="buy" value="Proceed >>" />
                </div>
                <div class="col-md-4"></div>
            </div>
            <br />
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    var amount = $("#lblamount").text() * 100;
    var phone = $("#lblphone").text();
    var email = $("#lblemail").text();
    var name = $("#lblname").text();

    var options = {
        "key": "rzp_live_McUg6c3QXIGItM", // Enter the Key ID generated from the Dashboard
        "amount": amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise or INR 500.
        "currency": "INR",
        "name": "I Stand For The Nation",
        "description": "Payment to I Stand For The Nation",
        "image": "/Images/logo.jpg",
        "handler": function (response) {
            //alert(response.razorpay_payment_id);

            if (typeof response.razorpay_payment_id == 'undefined' || response.razorpay_payment_id < 1) {
                redirect_url = '/Donations/paymentFailure';
            } else {
                redirect_url = '/Donations/Create?Id=' + response.razorpay_payment_id;
            }
            location.href = redirect_url;
        },
        "prefill": {
            "name": name,
            "email": email,
            "contact": phone
        },
        "notes": {
            "address": "note value"
        },
        "theme": {
            "color": "#F37254"
        }
    };

    var rzp1 = new Razorpay(options);
    document.getElementById('rzp-button1').onclick = function (e) {
       
        rzp1.open();
        e.preventDefault();
    }
</script>

