@model IEnumerable<hrithvika.Models.custom_Gallery>
@{
    ViewBag.Title = "Home Page";
}

<style>
    figure a img {
        width: 100% !important;
    }

    .dv {
        min-height: 400px;
    }

    .table a {
        color: #808080 !important
    }

    #image-gallery .modal-footer {
        display: block;
    }

    .thumb {
    }

    h1 {
        font-family: cardtitle !important;
        text-transform: uppercase;
    }

        h1 a {
            padding-top: 50px !important;
            font-family: customfont !important;
            font-size: 18px;
            color: #001722 !important
        }

            h1 a:hover {
                padding-top: 50px !important;
                font-family: customfont !important;
                font-size: 18px;
                color: #001722 !important;
                border-bottom: 1px solid #808080
            }

    .registerbtn:hover {
        color: white !important;
        border: none;
        text-decoration: none;
        list-style-type: none;
    }

    .btn_white {
        background: white !important;
        color: black !important;
        width: 50%;
        font-size: 16px !important;
    }
</style>
<link href="~/Content/compiled/flipclock.css" rel="stylesheet" />
<script src="~/Content/compiled/flipclock.min.js"></script>
<script src="~/Content/js/customgallery.js"></script>

<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false">
    <div class="carousel-inner">

        <div class="carousel-item active">
            <img class="d-block" width="100%" src="~/Images/footer.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block" width="100%" src="~/Images/slide6.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block" width="100%" src="~/Images/slide3.jpg" alt="Fourth slide">
        </div>
    </div>
</div>

<div class="container-fluid joindv_Index">
    <div class="row">
        <div class="col-md-12">
            <br />
            <h2 class="text-center" style="color:#fff;text-align:left!important">"SOUND OF GRATITUDE"</h2>
            <hr style="border:2px solid white;width:70%;text-align:left!important;margin-left:0px" />  <br />
            <p>
                Now a days as the world facing an unseen pandemic some people are risking their life to save others life. In keeping view of this I STAND FOR THE NATION came up with a unique campaign to show our small gratitude towards these frontline warriors calling it as “SOUND OF GRATITUDE”. On the coming August 15th 2020 I STAND FOR THE NATION requests every Indian across the globe to chorus our national anthem “JANA GANA MANA” by the time of Red Fort, New Delhi Flag hosting. 
            </p> <br /><div style="text-align:right">
                Supported by :
                <a href="https://ekam.org/" target="_blank"> <img width="200" src="~/Images/gallery/ekam.png" /></a>
            </div>
        </div>

    </div>
</div>
<div class="container-fluid padding" style="background:#00031d;color:#fff">
    <div class="row">
        <div class="col-md-6">
            <h2 style="color:#fff" class="h2_mobile">JOIN THE MOMENTUM </h2><p>Be a part of the movement and participate in building a better future for our country! Join this historical event and stand up for the values that make our country great. Make a difference.</p>
            <div class="row">
                <div class="col-md-12">
                    @if (@ViewBag.success != null)
                    {
                        <label class="lblsuc text-center">@ViewBag.success</label>
                    }
                </div>
            </div>
            @using (Html.BeginForm("Createhome", "People", "Post"))
            {
                @Html.ValidationSummary(true)
                <div class="row">
                    @if (@ViewBag.message != null)
                    {
                        <label class="lblsuc text-center">@ViewBag.message</label>
                    }

                    <div class="col-md-6">
                        <div class="editor-field">
                            <input type="text" name="name" id="name" class="form-control" placeholder="Name" GroupName="btnjoin" required />
                        </div>
                    </div>

                    <div class="col-md-6 textbox_margin">
                        <div class="editor-field">
                            <input type="text" name="phone" id="phone" class="form-control" placeholder="Phone" GroupName="btnjoin" required />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="editor-field">
                            <input type="email" name="email" id="email" class="form-control" GroupName="btnjoin" placeholder="Email" />
                        </div>
                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="col-md-6">
                        <div class="editor-field">
                            @*<input type="text" name="state" placeholder="State" class="form-control" id="State" required />*@
                            <select name="state" id="State" class="form-control" style="width:100%;height:30px;" placeholder="State" GroupName="btnjoin">
                                <option>---Select State---</option>
                                <option value="Andhra Pradesh">Andhra Pradesh</option>
                                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                <option value="Assam">Assam</option>
                                <option value="Bihar">Bihar</option>
                                <option value="Chhattisgarh">Chhattisgarh</option>
                                <option value="Goa">Goa</option>
                                <option value="Gujarat">Gujarat</option>
                                <option value="Haryana">Haryana</option>
                                <option value="Himachal Pradesh">Himachal Pradesh</option>
                                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                <option value="Jharkhand">Jharkhand</option>
                                <option value="Karnataka">Karnataka</option>
                                <option value="Kerala">Kerala</option>
                                <option value="Madhya Pradesh">Madhya Pradesh</option>
                                <option value="Maharashtra">Maharashtra</option>
                                <option value="Manipur">Manipur</option>
                                <option value="Meghalaya">Meghalaya</option>
                                <option value="Mizoram">Mizoram</option>
                                <option value="Nagaland">Nagaland</option>
                                <option value="Odisha">Odisha</option>
                                <option value="Punjab">Punjab</option>
                                <option value="Rajasthan">Rajasthan</option>
                                <option value="Sikkim">Sikkim</option>
                                <option value="Tamil Nadu">Tamil Nadu</option>
                                <option value="Telangana">Telangana</option>
                                <option value="Tripura">Tripura</option>
                                <option value="Uttarakhand">Uttarakhand</option>
                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                <option value="West Bengal">West Bengal</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6 textbox_margin">
                        <div class="editor-field">
                            @*INSERT INTO country(id,NAME)VALUES('1',''),('2',''),('3',''),('4',''),('5',''),('6',''),('7','')*@

                            @*<input type="text" name="country" placeholder="Country" class="form-control" id="Country" required />*@
                            <select name="country" id="country" class="form-control" style="width:100%;height:30px;" GroupName="btnjoin" placeholder="country">
                                <option>---Select country---</option>
                                <option value="India">India</option>
                                <option value="USA">USA</option>
                                <option value="England">England</option>
                                <option value="Canada">Canada</option>
                                <option value="Australia">Australia</option>
                                <option value="Russia">Russia</option>
                                <option value="Other">Other</option>

                            </select>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <input type="submit" class="btn btn-success loginbtn" style="width: 100%" GroupName="btnjoin" value="Join the Team" />
                    </div>
                    <div class="col-md-4">

                    </div>

                </div>

            }
            <br />
        </div>
        <div class="col-md-6">
            <img width="90%" src="~/Images/hrithvikImages/Banner.jpg" />

        </div>
    </div>
</div>
<div class="container-fluid background_about">
    <div class="row background_about_sec_color">
        <div class="col-md-8 text-center padding_mobile" data-aos="fade-up">
            <br />
            <h4 style="color:#09022c">Encouraging our Frontline warriors of Covid-19</h4>
            <br />
            <div id="divtimer">
                <h1 style="font-family:customfont!important">August 15<sup>th</sup> 2020 8:00 AM IST.</h1>
                <br />

                <br />
                <table style="margin:0px auto!important">
                    <tr>
                        <td>
                            <div class="clock text-center"></div>
                        </td>
                    </tr>
                </table>
                <br />
                <br /> <br />
                <br />
            </div>
        </div>
    </div>
</div>
<div class="padding_mobile custompadding" style="background:#04001c">
    <div class="container">
        <div class="row text-center" data-aos="fade-right">
            @foreach (var item in Model)
            {
                if (item.TYPE == "image")
                {<div class="col-lg-3 col-md-3 col-12 thumb nopadding">
                        <div class="background_white">
                            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="" data-image="@item.path" data-target="#image-gallery">
                                <div style="max-height:200px;overflow-y:hidden">
                                    <img class="img-thumbnail"
                                         src="@item.path"
                                         alt="@item.id" width="100%" style="min-height:200px!important" />
                                </div>
                            </a>
                        </div>
                    </div>
                    <br />
                }
            }

        </div>
    </div>
</div>
<div class="container-fluid background_about_sec">
    <div class="row background_about_sec_color">
        <div class="col-md-6 text-center">
        </div>
        <div class="col-md-6">
            <br />
            <br />
            <br />
            <img width="100%" src="~/Images/logo.png" />
            <br />
            <br />
            <br />
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="row text-center" data-aos="fade-right">
                @{int i = 0;}
                @foreach (var item in Model)
                {
                    if (item.TYPE == "video")
                    {
                        if (i < 6)
                        {
                            {
                                i++;
                            }
                            <div class="col-lg-6 col-md-6 col-12 thumb nopadding">
                                <div class="background_white">

                                    <div style="max-height:200px;overflow-y:hidden">
                                        <iframe width="100%" src="@item.path" allowfullscreen="allowfullscreen"
                                                mozallowfullscreen="mozallowfullscreen"
                                                msallowfullscreen="msallowfullscreen"
                                                oallowfullscreen="oallowfullscreen"
                                                webkitallowfullscreen="webkitallowfullscreen"></iframe>
                                    </div>

                                </div>
                            </div>
                            <br />
                        }
                        else
                        {
                            break;
                        }
                    }

                }

            </div>
        </div>
        <div class="col-md-4 nopadding">
            <div class="col_ml text-center">
                <br />

                <img class="imgflag" src="~/Images/deskisfn.png" />


                <h4 class="d-md-none d-lg-block">IMAGES SPEAK LOUDER <br /> THAN WORDS</h4>
                <br />
                <p>Take a Look at the Gallery From Our <br /> Latest events and see  <br />for your self</p>
                <br />

                <a href="/home/galleryvideo" class="btn btn-primary">View More</a>
                <br />
                <br />
            </div>
        </div>
        <div class="col-md-4">
            <div class="row text-center" data-aos="fade-right">
                @{int j = 0;}
                @foreach (var item in Model)
                {
                    if (item.TYPE == "video")
                    {
                        j++;
                        if (j > 6 && j < 13)
                        {
                            <div class="col-lg-6 col-md-6 col-12 thumb nopadding">
                                <div class="background_white">

                                    <div style="max-height:200px;overflow-y:hidden">
                                        <iframe width="100%" src="@item.path" allowfullscreen="allowfullscreen"
                                                mozallowfullscreen="mozallowfullscreen"
                                                msallowfullscreen="msallowfullscreen"
                                                oallowfullscreen="oallowfullscreen"
                                                webkitallowfullscreen="webkitallowfullscreen"></iframe>
                                    </div>

                                </div>
                            </div>
                            <br />
                        }

                    }

                }

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var clock;
        var date = new Date(2020, 07, 15, 00, 00);
        // var date = new Date(2020, 01, 14, 09, 14);
        var now = new Date();
        var diff = (date.getTime() / 1000) - (now.getTime() / 1000);
        clock = $('.clock').FlipClock(diff, {
            clockFace: 'DailyCounter',
            countdown: true,
            callbacks: {
                stop: function () {
                    //$("#divtimer").hide();
                    //$("#divvid").show();
                }
            }
        });

    });
</script>
<div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content mdl div_background">
            <div class="modal-header">
                <h4 class="modal-title" id="image-gallery-title"></h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="image-gallery-image" class="img-responsive col-md-12" src="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary float-left" id="show-previous-image">
                    <i class="fa fa-arrow-left"></i>
                </button>
                <button type="button" id="show-next-image" class="btn btn-secondary float-right">
                    <i class="fa fa-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal" id="video">
        <div class="modal-dialog modal-lg">
            <div class="modal-content div_background">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div style="max-height:100%;overflow-y:hidden">
                        <iframe width="100%" height="450" src="https://www.youtube.com/embed/cjVwUWmeC64" allowfullscreen="allowfullscreen"
                                mozallowfullscreen="mozallowfullscreen"
                                msallowfullscreen="msallowfullscreen"
                                oallowfullscreen="oallowfullscreen"
                                webkitallowfullscreen="webkitallowfullscreen"></iframe>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>