@model hrithvika.Models.custom_yuvanirman

@{
    ViewBag.Title = "yuvanirmanDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .bgdiv h5 {
        font-family: 'customfontbold';
        opacity: 0.7
    }

    body {
        background: #f7f7f7
    }

    .right {
    }
</style>
<div class="container-fluid">
    <div class="row">
        <img width="100%" src="~/Images/yuvanirman.jpg" />

        <div class="telegram_dv_normal">
            " <b>1</b>  DAY  &nbsp;<b>1</b> MINUTE
            <br />
            HOW EVER WE ARE
            <br />
            IS IT TOO MUCH TO ASK FOR ? "
            <br />`

            <br />

        </div>
    </div>
    <div class="row d-none d-md-block  row_highlight">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <i style="color:#ff0000" class="fa fa-calendar fa-2x"></i> <a href="/Home/Events"> Events</a>
                </div>
                <div class="col-md-4 text-center">
                    <i style="color:#ff0000" class="fa fa-users fa-2x"> @Html.ActionLink("NGO's", "NGO", "People")</i>
                </div>
                <div class="col-md-4 text-center">
                    <i style="color:#ff0000" class="fa fa-heart fa-2x"> @Html.ActionLink("Enroll", "Create", "People")</i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="background_white">
    <div class="container">
        <br />
        <br />
        <h1 style="text-transform:capitalize !important">@Model.lastname</h1>
        <br />
        <br />
        <div class="row">
            <div class="col-md-1">
            </div>

            <div class="col-md-5" style="border-right:1px solid rgba(128, 128, 128, 0.35)">
                @if (Model.projectimages != null)
                {
                    <img src="@Model.projectimages" width="100%" alt="@Model.lastname" />
                }
                else
                {
                    <img src="~/Images/banner.jpg" width="100%" alt="@Model.lastname" />
                }

                <br />
                <br />


            </div>
            <div class="col-md-6 text-left">
                <h6><b>Category :</b> @Model.category</h6>
                <br />

                <h6><b>About:</b></h6> @Model.about
                <br /><br />
                <h6><b>Project Images :</b></h6>
                <br />
               
                <div class="row">
                    @if (@Model.projectimages1 != null)
                    {
                        <div class="col-md-4">

                            <img src="@Model.projectimages1" width="100%" alt="@Model.lastname" />

                        </div>
                    }
                    @if (@Model.projectimages2 != null)
                    {
                        <div class="col-md-4">
                            <img src="@Model.projectimages2" width="100%" alt="@Model.lastname" />
                            <br />

                        </div>
                    }
                </div>

                <br /> <br />
                @if (@Model.video1 != null)
                {
                    <h6><b>Project Video : </b></h6>
                    <iframe width="150" height="100" src=@Model.video1 allowfullscreen="allowfullscreen"
                            mozallowfullscreen="mozallowfullscreen"
                            msallowfullscreen="msallowfullscreen"
                            oallowfullscreen="oallowfullscreen"
                            webkitallowfullscreen="webkitallowfullscreen"></iframe>
                    <br />
                }
                @if (@Model.newsarticle1 != null)
                {
                    <p>Kindly find News article  <a target="_blank" href="@Model.newsarticle1" style="color:rgb(0, 148, 255)!important">here</a></p>
                }
                @if (@Model.awards != null)
                {
                    <p>Please find  Awards  <a target="_blank" href="@Model.awards" style="color:rgb(0, 148, 255)!important">here</a></p>
                }
            </div>

        </div>

    </div>
</div>
